{% extends "admin/layout.twig" %}

{% block content %}
  <div class="flex w-full flex-col p-4">
		<div class="w-fit">
			<label for="sidebar-mobile-fixed" class="btn-primary btn sm:hidden">Open Sidebar</label>
		</div>

		<div class="my-4 grid grid-cols-2 gap-4">
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>

			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>

      <div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>

      <div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
			<div class="flex h-40 w-full items-center justify-center border-2 border-dashed border-border bg-gray-1">+</div>
		</div>
	</div>
{% endblock %}
